<div class="col-12 d-flex justify-content-center">
  <h1>{{getGroup().name}}</h1>
</div>
<div class="col-12 d-flex align-items-center">
  <h4 class="d-inline-block my-2" style="line-height: 1;">Dodaj studenta</h4>
  <button type="button" class="btn btn-sm btn-success m-2" (click)="openModal(addStudentModalTemplate)">Dodaj</button>
</div>
<div class="col-12">
  <h2 class="w-100 my-3">Studenci:</h2>
  <button *ngFor="let student of getGroupStudents()" type="button" class="btn btn-warning m-2" >{{student.lastName}}</button>
</div>

<ng-template #addStudentModalTemplate>
  <div class="modal-header">
    <h5 class="modal-title">Dodaj studenta do grupy -- {{getGroup().name}} --</h5>
    <button type="button" class="close" (click)="hideModal()" data-dismiss="modal" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <!-- <input [(ngModel)]="newGroupProps.name" type="text" class="form-control my-3" placeholder="Nazwa grupy" aria-label="New group name"> -->
    <!-- <p *ngIf="newGroupProps.wasGroupAdditionAttempted" class={{newGroupProps.msgStyle}}>{{newGroupProps.msgText}}</p> -->
    <button *ngFor="let student of getAvailableStudents()" type="button" class="btn btn-warning m-2" >{{student.lastName}}</button>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="hideModal()" data-dismiss="modal">Anuluj</button>
    <button type="button" class="btn btn-primary" (click)="onAddStudent()">Dodaj do grupy</button>
  </div>
</ng-template>
