<div class="col-12 h-100 px-4 py-2">
  <div class="d-flex flex-column h-100">
    <div class="row">
      <app-details-header-view class="col-12"></app-details-header-view>
    </div>
    <div class="row flex-grow-1 py-2">
      <app-details-groups-view class="col-6 d-flex flex-column align-items-center h-100" style="border-right: solid #dee2e6 1px;"></app-details-groups-view>
      <app-details-courses-view class="col-6 d-flex flex-column align-items-center h-100" style="border-left: solid transparent 1px;"></app-details-courses-view>
    </div>
  </div>
</div>
