<div class="col-sm h-100">
  <div class="d-flex flex-column h-100">

    <div class="d-flex flex-column">
      <h1 class="align-self-center">{{getCurrentGroup().name}}</h1>
      <div class="d-flex">
        <h4 class="d-inline-block my-2" style="line-height: 1;">Dodaj studenta</h4>
        <button type="button" class="btn btn-sm btn-success m-2" (click)="openModal(addStudentModalTemplate)">Dodaj</button>
      </div>
      <h2 class="w-100 my-3">Studenci:</h2>
    </div>

    <div class="flex-grow-1" style="overflow-y: scroll;">
      <button *ngFor="let student of getGroupStudents()" type="button" class="btn btn-warning m-2" >{{student.id}}<br>{{student.name}} {{student.lastName}}</button>
    </div>

  </div>
</div>

<ng-template #addStudentModalTemplate>
  <div class="modal-header">
    <h5 class="modal-title">Dodaj studenta do grupy -- {{getCurrentGroup().name}} --</h5>
    <button type="button" class="close" (click)="hideModal()" data-dismiss="modal" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body" >
    <div class="col-sm">
      <div class="">
        <input [(ngModel)]="studentFilter" type="text" class="form-control my-3" placeholder="filtruj" aria-label="Filter">
      </div>
      <div class="d-flex flex-column align-items-center" style="overflow-y: scroll; height: 50vh;">
        <button *ngFor="let student of getAvailableStudents(studentFilter)" type="button" class="btn btn-warning w-75 m-2" (click)="onAddStudent(student)">{{student.id}} - {{student.name}} {{student.lastName}}</button>
      </div>            
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="hideModal()" data-dismiss="modal">Anuluj</button>
  </div>
</ng-template>
