<div class="col-sm h-100">
  <div class="d-flex flex-column text-center h-100">
    <div style="margin-right: 17px;">
      <h1>Lista studentów</h1>
      <button type="button" class="btn btn-success w-75 mt-2 mb-4" (click)="openModal(studentsModalTemplate)">Dodaj studenta</button>
    </div>
    <div class="d-flex flex-column align-items-center" style="overflow-y: scroll;">
      <button *ngFor="let student of students" type="button" class="btn btn-warning w-75 my-2" (click)="onListButtonClick(student)">{{student.id}} - {{student.name}} {{student.lastName}}</button>
    </div>
  </div>
</div>

<ng-template #studentsModalTemplate>
  <div class="modal-header">
    <h5 class="modal-title">Dodaj nowego studenta</h5>
    <button type="button" class="close" (click)="hideModal()" data-dismiss="modal" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="col-12 modal-body">
    <div class="row">
      <div class="col-6">
        <input [(ngModel)]="newStudentProps.name" type="text" class="form-control my-3" placeholder="Imię" aria-label="New student name">
      </div>
      <div class="col-6">
        <input [(ngModel)]="newStudentProps.lastName" type="text" class="form-control my-3" placeholder="Nazwisko" aria-label="New student last name">
      </div>
      <p *ngIf="newStudentProps.wasStudentAdditionAttempted" class={{newStudentProps.msgStyle}}>{{newStudentProps.msgText}}</p>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="hideModal()" data-dismiss="modal">Anuluj</button>
    <button type="button" class="btn btn-primary" (click)="onAddStudent()">Dodaj studenta</button>
  </div>
</ng-template>
