<h1>Lista grup</h1>
<div class="w-50 my-2">
  <button type="button" class="btn btn-success w-100 mt-2 mb-4" (click)="openModal(groupModalTemplate)">Dodaj grupę</button>
  <button *ngFor="let group of groups" type="button" class="btn btn-secondary w-100 my-2">{{group.name}}</button>
</div>

<ng-template #groupModalTemplate>
  <div class="modal-header">
    <h5 class="modal-title">Dodaj nową grupę</h5>
    <button type="button" class="close" (click)="hideModal()" data-dismiss="modal" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <input [(ngModel)]="newGroupProps.name" type="text" class="form-control my-3" placeholder="Nazwa grupy" aria-label="New group name">
    <p *ngIf="newGroupProps.wasGroupAdditionAttempted" class={{newGroupProps.msgStyle}}>{{newGroupProps.msgText}}</p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="hideModal()" data-dismiss="modal">Anuluj</button>
    <button type="button" class="btn btn-primary" (click)="onAddGroup()">Dodaj grupę</button>
  </div>
</ng-template>
